*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
html{
    font-size:13px ;
}
header{
    width: 100%;
    height: 80rem;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    background-color: purple;
    display: flex;
    justify-content: center;
}
#hizala{
    width: 85%;
    height: 60rem;    
    margin-top: 50px;    
}
.h{
    color: white;
    text-align: center;
}
.search{
    width: 50%;
    height: 290px;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    background-color: brown;
    margin-top: 5rem;
    padding-top: 30px;
}
.search form input{
    width: 95%;
    height: 55px;
    display: block;
    margin-left: 20px;
    margin-bottom: 30px;
}
.search form button{
    width: 95%;
    height: 55px;
    margin-left: 20px;
    background-color: white;
    border: none;
}
.search form button:hover{
    background-color: blue;
    color: yellow;
}
.vote{
    width: 80%;
    height: 20rem;
    position: absolute;
    left: 50%;
    margin-left: -40%;
    margin-top: 40rem;
}
.v1{
    width: 50%;
    height: 10rem;
    float: left;
}
.p1{
    width: 30%;
    height: 10rem;
    float: left;
}
.p1 img{
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    border-radius: 40%;
}
.p2{
    width: 70%;
    height: 10rem;  
    float: right;
    padding-left: 15px;
}
.h1{
    color: white;
}